
#putain{

	position : relative;
	left : 22%;  
	top : 83%;
	margin-bottom : -2%;

}

#graphe_menu{
	position : relative; 
	left : 66%;

	
	
	
}



#map {
	
	position: relative;
	float: left;
	bottom : -5%;
	width: 47%;
	height: 500px;
	margin-left: 2%;
	margin-top : 0.5%;
}
.putain{
	margin-top: 2%;
	left: 10%;
}

.legend{
	background-color: white;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}

.chart{
	position: relative;
	width: 47%;
	height: 500px;
	float: right;
	margin-right: 2%;
	margin-top : 0.5%;
}


#HighFiveCrew{
	display: inline-block;
	width: 100%;
	margin-top: 2%;	
}

.fa-times{
	color: red;
}



