
#map {
	
	position: relative;
	float: left;
	bottom : -5%;
	width: 47%;
	height: 500px;
	margin-left: 2%;
}

#chart_div {
	position: relative;
	width: 47%;
	height: 500px;
	float: right;
	margin-right: 2%;
	

}

#HighFiveCrew{
	display: inline-block;
	width: 100%;
	margin-top: 2%;
	
	
}
